{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "quotes": [2, "single"],
    "no-throw-literal": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}